---
import "../styles/global.css";
import Footer from "../components/Footer.astro";

// import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Blog Rade</title>
  </head>
  <body>
    <!-- <Navigation /> -->
    <Header />
    <h1>Hello Astro</h1>
    <Footer />

    <script>
      /* document.querySelector(".hamburger").addEventListener("click", () => {
        const navlink = document.querySelector(".nav-links");
        if (navlink) {
          navlink.classList.toggle("expanded");
        }
      }); */
      import "../scripts/menu";
    </script>
  </body>
</html>
