---
const platform = "github";
const username = "withastro";
// const { platform, username } = Astro.props;
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
</footer>
