---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<head>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</head>
